<div data-id="{{_id}}" class="modal" data-modal="1">
    <button class="exit">Х
    </button>
    <h2 class="title__name">{{title}}</h2>
    <img class="image-modal" src="{{images}}" alt="">

    <div class="wrapper">
        <h2 class="title__price">{{price}} грн.</h2>
        <button class="btn-buy">Купити</button>
        <div class="links" data-id="{{_id}}">
            <button class="favorites" data-fav="keyModal" href="#">В обране</button>
            <a class="share" href="https://uk-ua.facebook.com/">Поділитися</a>
        </div>
        <h3 class="descripton-title">Опис</h3>
        <p class="description">{{description}}</p>
    </div>
</div>